section.section.about-me(data-anchor="about")
  h1.heading About me

  .row
    .col-md-8.col-md-offset-2
      ul.nav.nav-tabs(role="tablist")
        li.active(role="presentation")
          a(href="#work-life", role="tab", data-toggle="tab") Work
        li(role="presentation")
          a(href="#personal-life", role="tab", data-toggle="tab") Personal Life

      .tab-content.padded
        .tab-pane.active.fade.in#work-life(role="tabpanel")
          p.lead.clear-margin
            | I'm a web developer, who specializes on the frontend aspect right from designing the UX using beautiful UIs to bringing them to life using Javascript, HTML & CSS. I've experience building applications using popular MVC frameworks such as BackboneJS, AngularJS & EmberJS. On the backend I'm familiar with Ruby on Rails.
            br
            br
            | I like learning new technologies & experimenting with them. I'm big fan of designing the code architecture on a paper before diving into #{' '}
            a(href="//www.sublimetext.com/", target="_blank").link-disguise my favorite IDE
            |,#{' '} I also have an #{' '}
            a(href="//en.wikipedia.org/wiki/Obsessive%E2%80%93compulsive_disorder", target="_blank").link-disguise OCD
            |#{' '} for writing #{' '}
            a(href="//en.wikipedia.org/wiki/Don%27t_repeat_yourself", target="_blank").link-disguise DRY
            | #{' '} code. I sometimes end up over engineering things !
            br
            br
            | I’m a huge supporter of Open Source & do frequently contribute to it on #{' '}
            a(href="//github.com/mudassir0909" target="_blank").link-disguise Github
            |. I also frequently contribute to the #{' '}
            a(href="//stackoverflow.com/users/1482899/mudassir-ali", target="_blank").link-disguise Stackoverflow
            |#{' '} community.

        .tab-pane.fade#personal-life(role="tabpanel")
          p.lead.clear-margin
            | I’m a #{' '}
            a(href="//www.quora.com/Mudassir-Ali-4", target="_blank").link-disguise Quora
            |#{' '}addict & a avid gamer. I love watching science fiction movies. I can't get enough of the TV series FRIENDS. I'm curious about the space and the universe. I also have a huge enthusiasm for animation, visual effects & motion graphics (you don't want to see my vfx videos though!).
            br
            br
            small: strong Basic needs:
            | #{' '} My laptop, my phone & Wi-fi. As long as I've them with me I can even live on Pluto all alone!
            br
            br
            small: strong Sports:
            | #{' '} I follow Cricket, although I've lost most of my interest after the retirement of Sachin Tendulkar.
            br
            br
            small: strong Things I'm not a big fan of:
            | #{' '}Reading books, watching anime, staying upto date with latest TV shows.